body {
    background: #000000;
    color: #fbfdff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

nav {
    border-bottom: solid 2px white;
    text-align: center;
    padding: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

li {
    align-self: center;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 23px;
    padding: .75rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.insta_logo {
    font-size: 3.5em;
}

.baloldali_menu {
    position: fixed;
    left: 0;
    font-size: 1.5em;
    margin-left: 30px;
    display: grid;
    gap: 20px;
}

.alsobb_resz {
    display: grid;
    font-size: 1.5em;
    margin-left: 22px;
    gap: 20px;
}

.pfp_kep img {
    border-radius: 70%;
    max-width: 50px;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid img {
    max-width: 100%;
}