body {
    background: #000000;
    color: #fbfdff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.insta_logo {
    font-size: 3.5em;
}

.baloldali_menu {
    position: fixed;
    font-size: 1.5em;
    margin-left: 15px;
    display: grid;
    gap: 20px;
}

.alsobb_resz {
    display: grid;
    font-size: 1.5em;
    margin-left: 22px;
    gap: 20px;
}

nav {
    padding: 10px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.pfp_kep img {
    width: 100%;
    border-radius: 70%;
    max-width: 50px;
}

.poszt img {
    max-width: 100px;
    margin-left: 40px;
}


.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: fixed;
}


section {
    margin: auto;
}